"chocolate bean"

h1 {
    text-align:center;
    margin:30px auto 0 auto;
    font-size: 40px;
    font-weight:bold;
}

form {
  text-align:center;
  width:360px;
  border-radius:5px;
  padding: 30px 20px 20px 20px;
  margin:20px auto auto auto;
  display:block;
  background-color:LightGray;
}

textarea {
  min-width:320px;
  min-height:320px;
}

.button {
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.note_list {
  text-align:center;
  width:360px;
  border-radius:5px;
  padding: 30px 20px 20px 20px;
  margin:20px auto auto auto;
  display:block;
  background-color:LightGray;
}

.note {
  text-align:center;
  width:360px;
  border-radius:5px;
  padding: 30px 20px 20px 20px;
  margin:20px auto auto auto;
  display:block;
}

.buddy {
  float:left;
  margin:auto auto auto 50px;
}
